
.header {
    background-color: MediumVioletRed;
}

.city {
    font-family: sans-serriff;
    font-size: 25px;

}

.center{
    margin: auto;
    width: 75%;
    border: 3px solid #73AD21;
    padding: 2px;
    text-align:left;
}
