
.header {
    background-color: #0099CC;
}

.city {
    font-family: sans-serriff;
    font-size: 25px;

}

.main {
    background-color: #9966FF;
}

.center{
    background-color: white;
    margin: auto;
    width: 75%;
    border: 3px solid #73AD21;
    padding: 2px;
    text-align: left;
}
