.header {
  background-color: #85a3e0;
  margin: px 0 0 0;
  border-radius: 2px;
  padding: 2px;
}

.buttons-and-city {
  display: flex;
  justify-content: center;
}

.input-box {
  width: 190px;
  height: 38px;
  margin-left: .5px;
  border: 1px;
  border-style: solid;
  border-color: grey;
  border-radius: 4px;
  padding: 1px; 
  font-size: 1.25em;     
}

.city {
  font-family: 'Courier New', Courier, monospace;
  height: 25px;
  font-size: 18px;
  border-radius: 2px;
}

.btn {
  width: 40px;
  height: 38px;
  border-radius: 2px;
}

.imperial{
  background-color: lightgoldenrodyellow;
  margin-left: 10px;
} 

.metric {
  background-color: lightskyblue;
  margin-left: 10px;
}

.reset {
  background-color: lightpink;  
  margin-right: 10px;
}

.main {
  background-color: #85a3e0;
  height: 430px;
  margin: 2px 0;
  border-radius: 2px;
  padding: 20px;
}

.center{
  background-color: whitesmoke;
  margin: auto;
  width: 75%;
  border: 1px solid grey;
  padding: 2px;
  width: 400px;
  height: 390px;
  border-radius: 2px;   
}

.conversion {
display: none;
}

.temp-and-btn {
  display: flex;
  justify-content: space-between;
}

.convert-btn {
  height: 22px;
  width: 50px;
  background-color: skyblue;
}

.temp {
  width: 136px;
  background-color: lightgray
  border: 2px solid yellowgreen;

}

#show{
  text-align: left;
  width: 250px;
  height: 360px;
  border-radius: 2px;
  margin: 20px 0 10px 85px;;
  border: 3px;
  border-style: solid;
  border-color: transparent;
  padding: 5px;
}

.error {
color: red;
}

img {
  float: right;
}

footer {
  height: 40px;
  background-color: #0099CC;
  color: white;
  padding: 8px;
  }
